:root {
    --color-p: rgb(105, 161, 151);
    --color-s: rgb(38, 20, 71);
    --color-a: rgb(255, 251, 255);
}

.title {
    font-family: "Bebas Neue", serif;
    color: var(--color-s);
  }
  

* {
  font-family: "Open Sans", serif;
}

body {
    background-color: var(--color-p);
    color: var(--color-s);
}

.body-bg {
    background: linear-gradient( rgb(105, 161, 151) 10%, rgb(105, 161, 151, 0.8) 100%), url(./media/mercedes.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.transition {
    transition: 0.5s;
}

/* NAVBAR */
.logo1 {
    width: 50px;
}

.navCustom {
 color: var(--color-s);
}

.nav-scrolled {
    margin: 5vh 15vw;
    border: 2px solid var(--color-s);
    border-radius: 20px;
    backdrop-filter: blur(50px);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}

/* SEZIONE CAROSELLO */

.slide-11 {
    background: linear-gradient(var(--color-p), transparent, rgb(105, 161, 151)), url(./media/supercar.png);
}


.slide-21 {
    background: linear-gradient(var(--color-p), transparent, rgb(105, 161, 151)), url(./media/autoepoca.png);
}

.slide-31 {
    background: linear-gradient(var(--color-p), transparent, rgb(105, 161, 151)), url(./media/suv.png);
}

.slide-11,
.slide-21,
.slide-31 {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* HEADER */
.imgHeader {
    background: url(./media/autometa.png);
    background-position: bottom;
    background-size: cover;
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 5px var(--color-s);
    border-radius: 20px;
}

/* Stile di base del bottone */
.elegant-btn {
    padding: 10px 10px;
    width: 200px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid transparent;
    border-radius: 50px;  /* Forma arrotondata */
    background-color: rgb(38, 20, 71);  /* Colore di background */
    color: rgb(255, 251, 255);  /* Colore del testo */
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;  /* Transizione per tutte le proprietà */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Hover: animazione per cambiare il colore di sfondo e aggiungere ombra */
.elegant-btn:hover {
    background-color: rgb(255, 251, 255);  /* Colore di sfondo al passaggio del mouse */
    color: rgb(38, 20, 71);  /* Cambia il colore del testo */
    transform: scale(1.1);  /* Aumenta leggermente le dimensioni */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);  /* Ombra più prominente */
    border-color: rgb(38, 20, 71);  /* Colore del bordo al passaggio del mouse */
}

/* Focus (quando il bottone è selezionato) */
.elegant-btn:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(38, 20, 71, 0.3);  /* Ombra al focus */
}

/* SEZIONE ULTIME AUTO */
.rowLastCar{
    padding: 30px 20px;
    border: 5px solid var(--color-a);
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0) 0px 60px 40px -7px;
    background-color: rgb(1, 9, 16);
}

.img-last-cars {
    height: 350px;
    background-position: center;
    border: 2px solid var(--color-s);
    border-radius: 5px 30px 0 0;
    box-shadow: 2px 2px 5px var(--color-s);
    border: 2px solid var(--color-a);
}

.card-custom {
    background-color: var(--color-s);
    color: var(--color-a);
    backdrop-filter: blur(10px);
    padding: 15px;
    border-radius: 5px 30px 5px 30px;
    box-shadow: rgb(38, 57, 77) 0px 5px 10px;
    margin: 0 1vw;
    border: 2px solid var(--color-a);
}
/* SEZIONE CATEGORIE */
.carousel-custom{
    background-color: var(--color-a);
    border: 10px solid var(--color-a);
    border-radius: 40px;
}

.carousel-item {
    background-color: var(--color-s);
}

.blood-shadow {
    text-shadow: 2px 2px 5px var(--color-s);
    border-bottom: 5px solid var(--color-s);
}

.box-category > h3 {
    backdrop-filter: blur(2px);
    padding: 9px 6px;
    border-radius: 40px; 
    font-size: calc(10px + 1vw);
    font-family: "Bebas Neue", serif;
    font-weight: 900;
    letter-spacing: 4px;
    margin: 0;
}
.box-category {
    color: var(--color-);
    aspect-ratio: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 30px 30px -7px;
    border-radius: 10px;
    border: 2px solid var(--color-a);
    transition: transform 0.3s ease;
}


/* Aggiungi un cursore personalizzato quando il mouse è sopra la card */
.carousel-item .box-category.custom-cursor {
    cursor: pointer; 
}

/* Aggiungi un effetto di trasformazione o ombra per una miglior interazione */
.carousel-item .box-category:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Colore degli indicatori inattivi */
.carousel-indicators button {
    background-color: rgb(38, 20, 71, 0.9) !important; /* Colore degli indicatori inattivi */
    width: 10%!important;
    height: 5px !important;
    border-radius: 5px !important; /* Rende gli indicatori rotondi */
    transition: background-color  !important; /* Transizione fluida per il cambio di colore */
    border: none !important; /* Rimuove il bordo */
}

/* Colore degli indicatori attivi */
.carousel-indicators .active {
    background-color:var(--color-s) !important; /* Colore per l'indicatore attivo */
}

/* Colore al passaggio del mouse sugli indicatori */
.carousel-indicators button:hover {
    background-color: var(--color-p) !important; /* Colore al passaggio del mouse */
}



.box-superCar {
    background: linear-gradient(rgb(105, 161, 151, 0.2),rgb(105, 161, 151, 0.2)), url(./media/lusso.png);
    background-position: center;
    background-size: cover;
}


.box-superCar1 {
    background: linear-gradient(rgb(105, 161, 151, 0.2),rgb(105, 161, 151, 0.2)), url(./media/superCarBg.png);
    background-position: center;
    background-size: cover;
}

.box-superCar2 {
    background: linear-gradient(rgb(105, 161, 151, 0.2),rgb(105, 161, 151, 0.2)), url(./media/epoca.png);
    background-position: center;
    background-size: cover;
}

.box-superCar3 {
    background: linear-gradient(rgb(105, 161, 151, 0.2),rgb(105, 161, 151, 0.2)), url(./media/suvBg.png);
    background-position: center;
    background-size: cover;
}

.box-superCar4 {
    background: linear-gradient(rgb(105, 161, 151, 0.2),rgb(105, 161, 151, 0.2)), url(./media/elettriche.png);
    background-position: center;
    background-size: cover;
}

.box-superCar5 {
    background: linear-gradient(rgb(105, 161, 151, 0.2),rgb(105, 161, 151, 0.2)), url(./media/usato.png);
    background-position: center;
    background-size: cover;
}

/* SEZIONE NUMERI */
.bg-numeri {
    height: 100vh;
    background: linear-gradient(90deg, rgb(105, 161, 151), rgb(105, 161, 151, 0.6)), url(./media/bgNostriNum.png);
    background-size: cover;
    background-position: bottom;
}

.box-numeri {
    height: 150px;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    text-align: center;
    color: var(--color-a);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

/* MEDIA QUERIES */

/* SMARTPHONE */

@media screen and (max-width: 991px) {
    /* .bg-smartphone{
        background: linear-gradient(rgb(105, 161, 151)5%, rgb(105, 161, 151, 0.8)80%, rgb(105, 161, 151)95%), url(./media/autometa.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    } */

    .nav-scrolled {
        margin: 0;
        border: none;
        border-bottom: 2px solid var(--color-s);
        border-radius: 0 0 10px 10px;
        backdrop-filter: blur(50px);
        box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
    }
}

