:root {
    --color-p: rgb(105, 161, 151);
    --color-s: rgb(38, 20, 71);
    --color-a: rgb(255, 251, 255);
}

.title {
    font-family: "Bebas Neue", serif;
    color: var(--color-s);
  }
  

* {
  font-family: "Open Sans", serif;
}

body {
    background-color: var(--color-p);
    color: var(--color-s);
}

.transition {
    transition: 0.5s;
}

/* NAVBAR */
.logo1 {
    width: 50px;
}

.navCustom {
 color: var(--color-s);
}

.nav-scrolled {
    margin: 5vh 15vw;
    border: 2px solid var(--color-s);
    border-radius: 50px;
    backdrop-filter: blur(50px);
    background-color: rgba(0, 0, 0, 0.342);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}

/* SEZIONE CAROSELLO */

.slide-1 {
    background: linear-gradient(var(--color-p), transparent, var(--color-p)), url(./media/auto1.png);
}


.slide-2 {
    background: linear-gradient(var(--color-p), transparent, var(--color-p)), url(./media/autoEpoca.png);
}

.slide-3 {
    background: linear-gradient(var(--color-p), transparent, var(--color-p)), url(./media/suv.png);
}

.slide-1,
.slide-2,
.slide-3 {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* HEADER */
.imgHeader {
    box-shadow: 5px 5px 5px var(--color-s);
    border-radius: 20px;
}
/* SEZIONE CATEGORIE */
.blood-shadow {
    text-shadow: 2px 2px 5px var(--color-s);
    border-bottom: 5px solid var(--color-s);
}

.box-category {
    margin-top: 10vh;
    background-color: var(--color-p);
    aspect-ratio: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
    border-radius: 2%;

}

.cat-bg {
    margin-top: 10vh;
    width: 100%;
    aspect-ratio: 1.5;
    background: linear-gradient(rgba(6, 24, 21, 0.446),transparent, rgba(105, 161, 151, 0.44)), url(https://picsum.photos/200);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}