:root {
    --color-p: rgb(105, 161, 151);
    --color-s: rgb(38, 20, 71);
    --color-a: rgb(255, 251, 255);
}

.title {
    font-family: "Bebas Neue", serif;
    color: var(--color-s);
  }
  

* {
  font-family: "Open Sans", serif;
}

body {
    background-color: var(--color-p);
    color: var(--color-s);
}

.body-bg {
    background: linear-gradient( rgb(105, 161, 151) 10%, rgb(105, 161, 151, 0.8) 100%), url(./media/mercedes.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.transition {
    transition: 0.5s;
}

.bg-s {
    background-color: rgb(38, 20, 71, 0.9);
    color: white;
}

/* NAVBAR */
.logo1 {
    width: 50px;
}

.navCustom {
 color: var(--color-s);
}

.nav-scrolled {
    margin: 5vh 15vw;
    border: 2px solid var(--color-s);
    border-radius: 20px;
    backdrop-filter: blur(50px);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}

/* SEZIONE CAROSELLO */

.slide-11 {
    background: linear-gradient(var(--color-p), transparent, rgb(105, 161, 151)), url(./media/supercar.png);
}


.slide-21 {
    background: linear-gradient(var(--color-p), transparent, rgb(105, 161, 151)), url(./media/autoepoca.png);
}

.slide-31 {
    background: linear-gradient(var(--color-p), transparent, rgb(105, 161, 151)), url(./media/suv.png);
}

.slide-11,
.slide-21,
.slide-31 {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* HEADER */
.imgHeader {
    background: url(./media/autometa.png);
    background-position: bottom;
    background-size: cover;
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 5px var(--color-s);
    border-radius: 20px;
}

/* Stile di base del bottone */
.elegant-btn {
    padding: 10px 0px;
    width: 190px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid transparent;
    border-radius: 50px;  /* Forma arrotondata */
    background-color: rgb(38, 20, 71);  /* Colore di background */
    color: rgb(255, 251, 255);  /* Colore del testo */
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;  /* Transizione per tutte le proprietà */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Hover: animazione per cambiare il colore di sfondo e aggiungere ombra */
.elegant-btn:hover {
    background-color: rgb(255, 251, 255);  /* Colore di sfondo al passaggio del mouse */
    color: rgb(38, 20, 71);  /* Cambia il colore del testo */
    transform: scale(0.8);  /* Aumenta leggermente le dimensioni */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);  /* Ombra più prominente */
    border-color: rgb(38, 20, 71);  /* Colore del bordo al passaggio del mouse */
}

/* Focus (quando il bottone è selezionato) */
.elegant-btn:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(38, 20, 71, 0.3);  /* Ombra al focus */
}

/* SEZIONE ULTIME AUTO */
.rowLastCar{
    padding: 30px 20px;
    border: 1px solid var(--color-a);
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0) 0px 60px 40px -7px;
    background-color: rgb(1, 9, 16);
}

.img-last-cars {
    height: 240px;
    background-position: center;
    border: 2px solid var(--color-s);
    border-radius: 30px 30px 10px 10px;
    box-shadow: 2px 2px 5px var(--color-s);
    border: 2px solid var(--color-a);
    object-fit: cover;
    object-position: center;
}

.card-custom {
    height: auto;
    background-color: var(--color-s);
    color: var(--color-a);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    box-shadow: rgb(38, 57, 77) 0px 5px 10px;
    border: 1px solid var(--color-a);
}
/* SEZIONE CATEGORIE */

.blood-shadow {
    text-shadow: 2px 2px 5px var(--color-s);
    border-bottom: 5px solid var(--color-s);
}

.box-category > h3 {
    width: 100%;
    background-color: var(--color-p);
    padding: 9px 6px;
    font-size: calc(10px + 1vw);
    font-family: "Bebas Neue", serif;
    font-weight: 600;
    letter-spacing: 4px;
    text-align: center;
}
.box-category {
    color: var(--color-);
    aspect-ratio: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 30px 30px -7px;
    border-radius: 10px;
}



/* SWIPER  */
.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 10vh;
    margin-bottom: 10vh;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 50vh;
    height: 50wh;
  }

  .swiper-slide img {
    display: block;
    width: 100%; 
    color: black;
  }

  .swiper-button-next {
    color: var(--color-s);
  }

  .swiper-button-prev {
    color: var(--color-s);
  }

/* Cambia il colore dei pallini di paginazione (in stato normale) */
.swiper-pagination-bullet {
    background-color: var(--color-a);  /* Cambia questo colore come preferisci */
}

/* Cambia il colore del pallino attivo */
.swiper-pagination-bullet-active {
    background-color: var(--color-s);  /* Cambia questo colore come preferisci */
}



.box-superCar {
    background: linear-gradient(rgb(105, 161, 151, 0.2),rgb(105, 161, 151, 0.2)), url(./media/lusso.png);
    background-position: center;
    background-size: cover;
}


.box-superCar1 {
    background: linear-gradient(rgb(105, 161, 151, 0.2),rgb(105, 161, 151, 0.2)), url(./media/superCarBg.png);
    background-position: center;
    background-size: cover;
}

.box-superCar2 {
    background: linear-gradient(rgb(105, 161, 151, 0.2),rgb(105, 161, 151, 0.2)), url(./media/epoca.png);
    background-position: center;
    background-size: cover;
}

.box-superCar3 {
    background: linear-gradient(rgb(105, 161, 151, 0.2),rgb(105, 161, 151, 0.2)), url(./media/suvBg.png);
    background-position: center;
    background-size: cover;
}

.box-superCar4 {
    background: linear-gradient(rgb(105, 161, 151, 0.2),rgb(105, 161, 151, 0.2)), url(./media/elettriche.png);
    background-position: center;
    background-size: cover;
}

.box-superCar5 {
    background: linear-gradient(rgb(105, 161, 151, 0.2),rgb(105, 161, 151, 0.2)), url(./media/usato.png);
    background-position: center;
    background-size: cover;
}

/* SEZIONE NUMERI */

.bg-num-footer {
    background: linear-gradient(90deg, rgb(105, 161, 151), rgb(105, 161, 151, 0.6)), url(./media/bgNostriNum.png);
    background-size: cover;
    background-position: bottom;
}
.bg-numeri {
    height: 100vh;
}

.box-numeri {
    height: 150px;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    text-align: center;
    color: var(--color-a);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}


.swiper.mySwiper1 {
    width: 70%;
    height: 70vh;
    margin-bottom: 30px; /* Spazio tra i due Swiper */
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }

  .swiper-slide:nth-child(1n) {
    background: url(media/autometa.png);
  }

  .swiper-slide:nth-child(2n) {
    background: url(media/audi.png);
  }

  .swiper-slide:nth-child(3n) {
    background: url(media/autometa.png);
    background-position: center;
    background-size: cover;
  }

/* PAGINA PRODUCTS */

.box-filters {
    height: auto;
    background: var(--color-p);
    color: var(--color-s);
    padding: 10px;
    border-radius: 20px;
    border: 2px solid var(--color-s);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: sticky;
    top: 125px;
}

.btn-order {
    padding: 10px 5px;
    width: 40%;
    background-color: var(--color-s);
    color: var(--color-p);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* /PAGINA PRODUCTS */

/* MEDIA QUERIES */

/* SMARTPHONE */

@media screen and (max-width: 991px) {
    /* .bg-smartphone{
        background: linear-gradient(rgb(105, 161, 151)5%, rgb(105, 161, 151, 0.8)80%, rgb(105, 161, 151)95%), url(./media/autometa.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    } */

    .nav-scrolled {
        margin: 0;
        border: none;
        border-bottom: 2px solid var(--color-s);
        border-radius: 0 0 10px 10px;
        backdrop-filter: blur(50px);
        box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
    }
}

